/node_modules
/public/hot
/public/img/admins/*
!/public/img/admins/default.png
/public/storage
/storage/*.key
/vendor
.directory
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
