@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600");

@font-face {
    font-family: Ostrich;
    src: url("/fonts/ostrich-regular.ttf");
}

@font-face {
    font-family: Age;
    src: url("/fonts/Age.otf");
}

strong {
    font-weight: bold !important;
}

blockquote p {
    padding: 0 !important;
}

.alert ul {
    margin-bottom: 0;
}

.modal-dialog .modal-content {
    border-radius: 0.25rem;
}

.modal-dialog .modal-content .modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppints', sans-serif;
}

.btn-circle.btn-sm {
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: linear-gradient(to bottom, #00aeff, #281bda);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track {
    background: linear-gradient(
        to right,
        #201c29,
        #201c29 1px,
        #11053d 1px,
        #080122
    );
}
/* /Custom Scrollbar */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader.gif") no-repeat center center fixed
        rgb(241, 242, 243);
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
}

.bg-full {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.bg-home {
    background: linear-gradient(rgba(4, 202, 252, 0.5), rgba(3, 97, 247, 0.5)),
        url("../img/MetropolitanUniversitySylhet.jpg") no-repeat center center
            fixed;
    background-color: #00ddff7e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

/* Laravel Style */
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.7875rem;
    line-height: 1.6;
    color: #fff;
    background-color: rgba(227, 52, 47, 0.9);
    border-radius: 0.25rem;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
    display: block;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: calc(1.6em + 0.75rem);
    background-position: top calc(0.4em + 0.1875rem) right
        calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: #e3342f;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
            no-repeat right 0.75rem center/8px 10px,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e")
            #fff no-repeat center right 1.75rem / calc(0.8em + 0.375rem)
            calc(0.8em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
    color: #e3342f;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
    display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
    color: #e3342f;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
    border-color: #e3342f;
}

.was-validated
    .custom-control-input:invalid:checked
    ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    border-color: #e9605c;
    background-color: #e9605c;
}

.was-validated
    .custom-control-input:invalid:focus
    ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated
    .custom-control-input:invalid:focus:not(:checked)
    ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)
    ~ .custom-control-label::before {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #e3342f;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
.custom-file-input.is-invalid:focus ~ .custom-file-label {
    border-color: #e3342f;
    box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}
/* /Laravel Style */

/* Home Page */
.app-header {
    font-size: 24px;
    font-family: Lato;
}

.app-name {
    font-size: 40px;
    font-family: Ostrich;
}

.app-content {
    font-size: 18px;
    font-family: Lato;
}

.message-box {
    overflow-y: auto;
    height: 250px !important;
}
/* /Home Page */

/* DataTable */
.dataTable thead {
    background: linear-gradient(to right, #222379, #e51b46) !important;
    color: #fff !important;
}
.dataTable tr td,
.dataTable tr th {
    border-left: 1px solid rgb(139, 19, 55);
}
.dataTable tr td:last-child,
.dataTable tr th:last-child {
    border-right: 1px solid rgb(139, 19, 55);
}
.dataTable tbody tr:nth-of-type(odd) {
    background-color: #ebebeb !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #333 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: #fff !important;
    border: 1px solid #979797;
    background-color: linear-gradient(to right, #00aeff, #281bda);
    background: -webkit-linear-gradient(to right, #00aeff, #281bda);
    background: -moz-linear-gradient(to right, #00aeff, #281bda);
    background: -ms-linear-gradient(to right, #00aeff, #281bda);
    background: -o-linear-gradient(to right, #00aeff, #281bda);
    background: linear-gradient(to right, #00aeff, #281bda);
}
.dataTables_wrapper .dataTables_paginate {
    color: #fff;
}
/* /DataTable */

/* Side-Nabbar */
.side-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 45px;
    z-index: 998;
    background-color: #001540;
    color: #00d5ff;
    transition: 0.5s;
    box-shadow: none;
}
.side-nav.active {
    width: 225px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.side-nav .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.side-nav .custom-menu .btn {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}
.side-nav .custom-menu .btn i {
    padding-top: 0.75rem;
    margin-right: -40px;
    font-size: 14px;
}
.side-nav .custom-menu .btn.btn-primary {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
.side-nav .custom-menu .btn.btn-primary::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #001540;
    border-radius: 10px;
}
.side-nav .custom-menu .btn.btn-primary:hover,
.side-nav .custom-menu .btn.btn-primary:focus {
    background: transparent !important;
    border-color: transparent !important;
}
.sidenav-wrapper {
    height: 100%;
    overflow: hidden;
}
.sidenav-wrapper:hover {
    overflow-y: auto;
}
.sidenav-wrapper a {
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
    line-height: 2rem;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    border-bottom: #00d5ff dotted 1px;
    white-space: nowrap;
}
.sidenav-wrapper a:hover {
    font-weight: bold;
    color: #fff !important;
    background-color: #00bbff;
}
.sidenav-wrapper a i {
    font-size: 20px;
}
.sidenav-wrapper .active {
    color: #fff !important;
    font-weight: bold;
    background-color: #00bbff;
}
@media screen and (max-height: 450px) {
    .side-nav .custom-menu {
        top: 5px;
        margin-right: -25px;
    }
    .side-nav .custom-menu .btn {
        width: 50px;
        height: 50px;
    }
    .side-nav .custom-menu .btn i {
        padding-top: 0.7rem;
        margin-right: -40px;
    }
}
/* /Side-Nabbar */

#Page-Content {
    transition: 0.5s;
    margin-left: 45px;
}

#Page-Content.pushed-right {
    margin-left: 225px;
}

.card-header-custom {
    background-color: #001540 !important;
    color: white !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.card-body-custom {
    background-color: #4682b4 !important;
    color: white !important;
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.custom-blue-1 {
    color: #00d5ff !important;
}

.custom-blue-2 {
    color: #00c3ff !important;
}

.w-35 {
    width: 35% !important;
}

.inbox ul.pagination {
    margin-bottom: 0;
}

.academic-structure-menu {
    margin: 0 -15px;
}

.academic-structure-menu .menu-button {
    padding: 0 15px;
    width: 100%;
    height: 200px;
}

@media (min-width: 576px) {
    .academic-structure-menu .menu-button {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .academic-structure-menu .menu-button {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .academic-structure-menu .menu-button {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .academic-structure-menu .menu-button {
        width: 20%;
    }
}

.academic-structure-menu .card {
    cursor: pointer;
    height: 100%;
}

.academic-structure-menu .card .card-body span {
    font-size: 68px;
    color: #00aeff;
    font-family: Age;
    padding: 0;
}

.academic-structure-menu .card .card-footer {
    background: #00aeff;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.academic-structure-details .card {
    cursor: default;
    margin-left: 5px;
    min-width: 250px;
    box-shadow: none;
    filter:drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

.academic-structure-details .card::before {
    content: "";
    position: absolute;
    top: 5px;
	left:-40px; 
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-right-color:#002456;
}

.academic-structure-details .card .card-header {
    background: #002456;
    color: #ffffff;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.academic-structure-details .card .card-body {
    color: #002456;
}

.academic-structure-details .table thead {
    border-bottom: 1px solid;
}

.academic-structure-details .table tr td:last-child{
    width:1%;
    white-space:nowrap;
    text-align: center;
}

.academic-structure-details .table td,
.academic-structure-details .table th {
    padding: 10px;
    border-top: none;
    border-bottom: none;
}

.academic-structure-details .table.table-hover tbody tr:hover {
    background-color: #00aeff;
    color: #ffffff;
    -webkit-transition: 0s;
    transition: 0s;
}

#Modal-Academic-Structure-Form .btn {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #cccccc;
}

#Modal-Academic-Structure-Form .btn.text-primary:hover,
#Modal-Academic-Structure-Form .btn.text-primary:focus {
    color: #ffffff !important;
    background: #4285f4 !important;
}

#Modal-Academic-Structure-Form .btn.text-danger:hover,
#Modal-Academic-Structure-Form .btn.text-danger:focus {
    color: #ffffff !important;
    background: #ff3547 !important;
}

#Routines .card {
    box-shadow: none;
    filter:drop-shadow(0 0 0.3rem rgba(0,0,0,0.3));
}

#Routines .card::before {
    content: "";
    position: absolute;
    top: -3rem;
	left:10px; 
	width: 0;
	height: 0;
	overflow: hidden;
	border: 1.5rem solid transparent;
	border-bottom-color:#002456;
}

#Routines .card .card-header {
    color: #ffffff;
    background: #002456;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#Routines .card .card-body {
    color: #002456;
}

#Table-Routine.table tbody tr td,
#Table-Routine.table thead tr th {
    border-left: 1px solid #002456;
    border-top: none;
    border-bottom: none;
}

#Table-Routine.table tbody tr td:first-child,
#Table-Routine.table thead tr th:first-child {
    border-left: none;
}

#Table-Routine.table thead tr th,
#Table-Routine.table tbody tr td:first-child {
    border-bottom: 1px solid #002456;
    background: #4682B4;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

#Table-Routine.table thead tr th:first-child {
    background: #356c99;
}

#Table-Routine.table tbody tr td:first-child {
    width:1%;
    white-space:nowrap;
    text-align: center;
}

#Table-Routine.table tbody tr td {
    color: #002456;
    padding: 0;
}

#Table-Routine.table .view {
    padding: 10px;
}

#Table-Routine.table .subject {
    font-size: 16px;
    font-weight: bold;
    color: #002456;
}

#Table-Routine.table .teacher {
    font-size: 14px;
    font-weight: bold;
    color: #2a4fad;
}

#Table-Routine.table .room {
    font-size: 14px;
    font-weight: bold;
    color: #800080;
}

#Table-Routine .btn-outline-info,
#Table-Routine .btn-outline-info:hover,
#Table-Routine .btn-outline-info:focus {
    background: #ffffff !important;
}